.container {
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 80px;
}

.logo {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info {
    height: 70px;
    background-color: #43bc43;
    color: white;
}

.phone {
    position: absolute;
    top: -5px;
    right: 0px;
}

.refmenu {
    text-decoration: none;
}

.menu {
    cursor: pointer;
    color: white;
    height: 70px;
    text-align: center;
}

.menu:hover {
    background-color: #48d148;
    text-align: center;
}

.productall {
    min-height: 650px;
    max-height: 100%;
}

.product {
    margin-top: 10px;
    height: 400px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0);
}

.product:hover {
    cursor: pointer;
    border: 1px solid;
    border-color: #43bc43;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.price {
    position: absolute;
    right: 15px;
    bottom: -5px;
}

.arrow {
    width: 100px;
    height: 35px;
    background-color: rgba(76, 198, 76, 0.79);
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: white;
    line-height: 35px;
    text-align: center;
}

.current {
    height: 600px;
    margin-top: 40px;
}

.imagebig {
    height: 400px;
}

.big {
    width: 100%;
}

.infocurrent {
    height: 400px;
    margin-bottom: 0px;
}

.price-product {
    margin-top: 20px;
    font-size: 300%;
}

.textinfo {
    color: #1702ff;
}

.order-form {
    margin-top: -230px;
    width: 400px;
    /*margin: 4px;*/
}

.footer {
    margin-top: 120px;
    margin-bottom: 0px;
    height: 95px;
    background-color: #222222;
    color: #afafaf;
}

/*ERROR*/
.error {
    color: red;
    margin-bottom: -5px;
}

.order-success {
    text-align: center;
    color: #43bc43;
    margin-bottom: 250px;
}

/*SPINNER*/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.spinner input {
    text-align: center;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 2%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}


